<div class="container">
  <p-toolbar>
    <div class="p-toolbar-group-left">
      <p-button
        label="Dashboard"
        icon="pi pi-tablet"
        routerLink="/dashboard"
        pRipple
        class="p-mr-2 p-mb-2"
      ></p-button>
      <p-button
        label="Differences"
        icon="pi pi-percentage"
        routerLink="/differences"
        pRipple
        class="p-mr-2 p-mb-2"
      ></p-button>
      <p-button
        label="Pythagorean"
        icon="pi pi-sort-up"
        styleClass="p-button-success"
        routerLink="/pythagorean"
        pRipple
        class="p-mr-2 p-mb-2"
      ></p-button>
    </div>
  </p-toolbar>
  <router-outlet> </router-outlet>
</div>
